body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: indianred;
}

.form-heading {
    font-weight: bold;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

/*.has-error {*/
/*color: red*/
/*}*/